<div class="row">
    <div  class="col-md-12">
        <h1>Courses List</h1>
        <LinkTo @route='courses.add-courses'>Add Courses</LinkTo>
    </div>
    <div class="col-md-12">
        <table class="table table-dark">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Room</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#each @model as |course|}}
            <tr>
                <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.room}}</td>
            <td>
                <BsButton @type="warning" class="ml-1">
                    <LinkTo @route='courses.edit-courses' @model={{course.id}}>Edit</LinkTo>
                </BsButton>
                <BsButton @type="danger" class="ml-1" {{on "click" (fn this.delete course.id)}}>Delete</BsButton>
            </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>

{{outlet}}